<!DOCTYPE html>
<html>
  <head>
    <title>Yachaycucho</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-inner">
        <div>
          <a href="a" class="navbar-brand">Home</a>
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Usuario", usuarios_path %></li>
            <li class="active"><%= link_to "Curso", cursos_path %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
